$primary-color: #dadada;
$secondary-color: #0f1923;
$text-color: #ffffff;
$secondary-text-color:#000000;
$bg-header:white;
$accent-color: #ff4b2b;
$text-light: #000000;

$font-main: 'Poppins', sans-serif;

$spacing: 20px;

$mobile: 768px;
$tablet: 1024px;